<div class="container" style="height: 100%;">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-12">
        <form id="addTransactionForm"
            [formGroup]="addTransactionForm" (ngSubmit)="addTransaction(addTransactionForm.value)" style="margin-top: 20px;">      

            <h6 class="text-muted">Description</h6>
            <input formControlName="description" id="description" type="text" class="form-control" >
            <br />
            <h6 class="text-muted">Payment Interval</h6>
            <div class="card-body" style="padding: 0px;" formGroupName="interval">
                Every <br />
                <input formControlName="interval"  id="description" type="number" class="form-control" style="display: inline; width: 30%;">
                <select formControlName="intervalType" class="form-control" style="display: inline; width: 70%;">
                    <option value=0>Days</option>
                    <option value=1>Weeks</option>
                    <option value=2>Months</option>
                    <option value=3>Years</option>
                </select>
            </div>
            <br />
            <h6 class="text-muted">Amounts</h6>                
            <div formArrayName="amounts"
                *ngFor="let item of addTransactionForm.get('amounts').controls; let i = index;">
                <div [formGroupName]="i">                    
                    <input formControlName="amount" class="form-control" type="number" placeholder="Amount" style="display: inline; width: 20%;">
                    <span>€, Starting </span>
                    <input type="date" formControlName="date" placeholder="Date" class="form-control" style="display: inline; width: 60%;">
                    <button *ngIf="addTransactionForm.get('amounts').controls.length > 1" (click)="removeAmount(i)" 
                        mat-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <button type="button" (click)="addAmount()" class="btn btn-primary">Add Amount</button>
            <br />
            <br />
            <h6 class="text-muted">End Date</h6>                
            <input formControlName="endDate" id="endDate" type="date" class="form-control" placeholder="Date of Transaction">
            <br />
        </form>       
        </div>     
    </div>
   
    <a [routerLink]="'/' + routes.RecurringTransactions" mat-raised-button color="warn"  style="position:absolute; right: 6rem; bottom: 0.5rem; width: 5rem;">
        <mat-icon>cancel</mat-icon>
    </a>
    <button type="submit" form="addTransactionForm" mat-raised-button color="primary" style="position:absolute; right: 0.5rem; bottom: 0.5rem; width: 5rem;">
        <mat-icon>save</mat-icon>
    </button>
  </div>