<div class="container" style="height: 100%;">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-12">
        <form id="addTransactionForm"
            [formGroup]="addTransactionForm" (ngSubmit)="addTransaction(addTransactionForm.value)" style="margin-top: 20px;">      

            <mat-form-field>
                <mat-label>Description</mat-label>
                <input formControlName="description"  id="description" type="text" matInput>
            </mat-form-field>
            <br />

            <div class="card" style="padding: 0.2rem; margin-bottom: 10px;">
                <h6 class="card-subtitle mb-2 text-muted">Payment Interval</h6>
                <div class="card-body" style="padding: 0px;">
                    <md-input-container formGroupName="interval">
                        Every <br />
                        <mat-form-field>
                            <input formControlName="interval"  id="description" type="number" matInput>
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <select matNativeControl formControlName="intervalType">
                                <option value=0>Days</option>
                                <option value=1>Weeks</option>
                                <option value=2>Months</option>
                                <option value=3>Years</option>
                            </select>
                        </mat-form-field>
                        <br />
                    </md-input-container>
                </div>
            </div>

            <div class="card" style="padding: 0.2rem; margin-bottom: 10px;">
                <h6 class="card-subtitle mb-2 text-muted">Amounts</h6>
                
                <div class="card-body" style="padding: 0px;">
                    <div formArrayName="amounts"
                        *ngFor="let item of addTransactionForm.get('amounts').controls; let i = index;">
                        <div [formGroupName]="i">
                            <input type="date" formControlName="date" placeholder="Date">
                            <input formControlName="amount" type="number" placeholder="Amount" style="width: 10%;">
                            <button *ngIf="addTransactionForm.get('amounts').controls.length > 1" (click)="removeAmount(i)" mat-button color="primary" style="width: 3rem;">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <button type="button" (click)="addAmount()" mat-button color="primary" style="width: 3rem;">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>        

            <mat-form-field >
                <mat-label>End Date</mat-label>
                <input formControlName="endDate" id="endDate" type="date" matInput placeholder="Date of Transaction">
            </mat-form-field>
            <br />
        </form>       
        </div>     
    </div>
   
    <a [routerLink]="routes.RecurringTransactions.absPath" mat-raised-button color="warn"  style="position:absolute; right: 6rem; bottom: 0.5rem; width: 5rem;">
        <mat-icon>cancel</mat-icon>
    </a>
    <button type="submit" form="addTransactionForm" mat-raised-button color="primary" style="position:absolute; right: 0.5rem; bottom: 0.5rem; width: 5rem;">
        <mat-icon>save</mat-icon>
    </button>
  </div>